@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap");
:root {
  --primary-color: rgb(123, 0, 255);
}

body {
  font-family: "Open Sans", sans-serif;
}
.container {
  font-style: italic;

  padding: 0rem 1rem;
}
.container-centered {
  max-width: 600px;
  margin: auto;
}
.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.link-primary {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: white;
}
.link-secondary {
  color: var(--primary-color);
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
}
